<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler.txt :
</pre> <br>
<pre>3168 Satır, 
</pre> <br>
<pre>386 Kelime, 
</pre> <br>
<pre>349 Farklı Kelime
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler_2.txt :
</pre> <br>
<pre>1523 Satır, 
</pre> <br>
<pre>200 Kelime, 
</pre> <br>
<pre>174 Farklı Kelime
</pre> <br>
<pre>BENZERLIK Skorlaması:  1.483657 (radians)
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler.txt :
</pre> <br>
<pre>3183 Satır, 
</pre> <br>
<pre>389 Kelime, 
</pre> <br>
<pre>347 Farklı Kelime
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler_2.txt :
</pre> <br>
<pre>1523 Satır, 
</pre> <br>
<pre>200 Kelime, 
</pre> <br>
<pre>174 Farklı Kelime
</pre> <br>
<pre>BENZERLIK Skorlaması:  1.479959 (radians)
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler.txt :
</pre> <br>
<pre>3183 Satır, 
</pre> <br>
<pre>389 Kelime, 
</pre> <br>
<pre>347 Farklı Kelime
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler_2.txt :
</pre> <br>
<pre>1506 Satır, 
</pre> <br>
<pre>197 Kelime, 
</pre> <br>
<pre>172 Farklı Kelime
</pre> <br>
<pre>BENZERLIK Skorlaması:  1.479070 (radians)
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler.txt :
</pre> <br>
<pre>3183 Satır, 
</pre> <br>
<pre>389 Kelime, 
</pre> <br>
<pre>347 Farklı Kelime
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler_2.txt :
</pre> <br>
<pre>1523 Satır, 
</pre> <br>
<pre>200 Kelime, 
</pre> <br>
<pre>174 Farklı Kelime
</pre> <br>
<pre>BENZERLIK Skorlaması:  1.479959 (radians)
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler.txt :
</pre> <br>
<pre>3183 Satır, 
</pre> <br>
<pre>389 Kelime, 
</pre> <br>
<pre>347 Farklı Kelime
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler_2.txt :
</pre> <br>
<pre>1506 Satır, 
</pre> <br>
<pre>197 Kelime, 
</pre> <br>
<pre>172 Farklı Kelime
</pre> <br>
<pre>BENZERLIK Skorlaması:  1.479070 (radians)
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler.txt :
</pre> <br>
<pre>3159 Satır, 
</pre> <br>
<pre>388 Kelime, 
</pre> <br>
<pre>348 Farklı Kelime
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler_2.txt :
</pre> <br>
<pre>1506 Satır, 
</pre> <br>
<pre>197 Kelime, 
</pre> <br>
<pre>172 Farklı Kelime
</pre> <br>
<pre>BENZERLIK Skorlaması:  1.485998 (radians)
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler.txt :
</pre> <br>
<pre>3115 Satır, 
</pre> <br>
<pre>381 Kelime, 
</pre> <br>
<pre>342 Farklı Kelime
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler_2.txt :
</pre> <br>
<pre>1523 Satır, 
</pre> <br>
<pre>200 Kelime, 
</pre> <br>
<pre>174 Farklı Kelime
</pre> <br>
<pre>BENZERLIK Skorlaması:  1.488870 (radians)
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler.txt :
</pre> <br>
<pre>3115 Satır, 
</pre> <br>
<pre>381 Kelime, 
</pre> <br>
<pre>342 Farklı Kelime
</pre> <br>
<pre>-----------------------------
</pre> <br>
<pre>Dosya 3asamaKelimeler_2.txt :
</pre> <br>
<pre>1506 Satır, 
</pre> <br>
<pre>197 Kelime, 
</pre> <br>
<pre>172 Farklı Kelime
</pre> <br>
<pre>BENZERLIK Skorlaması:  1.488069 (radians)
</pre> <br>
